# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Emacs save files
*~

/salmon_tutorial/athal_index
/salmon_tutorial/data
/salmon_tutorial/quants

*.fa.gz

bin/*
build/*
external/*
lib/*
sample_data/*
simulated_data/*
test.err.*
test.out.*
tests/unitTests
transcriptome/*

*.rda